<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>{{ title }} | {{metas.site}}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <style>
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <main class="container">
    {{ content | safe }}
  </main>
</body>

</html>
