body { margin: 0; }

#app {
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

#app > div:first-child {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

header {
  padding: 0.3rem;
  background-color: beige;
  transition: transform 1s;
  display: flex;
  align-items: center;
}
header h1, header h2 {
  font-size: 2rem;
  margin: 0;
}
header :first-child {
  margin-right: 1rem;
}
header :last-child {
  margin-left: auto;
}

.playing header {
  transform: scaleY(0);
}

.GameMain {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
  font-size: 2rem;
}
.score_block {
  display: flex;
  justify-content: space-evenly;
  width: 100%
}
button {
  font-size: inherit;
}
.question {
  margin-right: 2rem;
}
.answer {
  font-size: 3rem;
}

.keyboard .row {
  display: flex;
}
.keyboard .row .key {
  flex: 1;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
  font-size: 6vw;
}
.key#Backspace {
  font-size: 3vw;
}
.keyboard .row .half {
  flex: 0.5;
}
.key.active {
  background: #ccc;

}

ruby.yet {
  color: gray;
  opacity: 0;
}
.show ruby.yet {
  opacity: 1;
  transition: opacity 1s ease-in-out 2s;
}

ruby.in {
  color: blue;
}
ruby.in .roman {
  color: gray;
}
ruby.ng {
  color: red;
}
